@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
  @apply bg-black;
  @apply text-sky
}

.gradient-text{
  /* background-color: red ; */
  background: linear-gradient(to right, #B1CAEC, #5B6783, #B1CAEC, #5B6783, #B1CAEC, #5B6783, #B1CAEC);
  color: transparent;
  background-clip: text !important;
  background-size: 300% 300% !important;
  /* width: fit-content; */
}

.button-wrapper::before{
  background: conic-gradient(
    #A8D2FE 0deg,
    #69adf5 0deg,
    transparent 40deg
  );
  @apply absolute h-[350%] w-[350%] -left-[125%] -top-[125%] content-[''] animate-borderSpin 
}


.tech-stack-grid{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
}